.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cardsContainer {
  width: 60%;
}
.imageWrap {
  height: 400px;
}
.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cardHeader {
  text-align: center;
}
.cardHeader h2 {
  text-transform: capitalize;
}
.disc {
  text-align: justify;
}

.readText {
  text-align: center;
}
.readMore {
  text-decoration: none;
  border: 1px solid blue;
}
